* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    font-family: 'Trebuchet MS', Arial, sans-serif;
}

body {
    background-color: #DFF8EB;
}

.logo {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 90px;
    font-weight: 700;
    padding: 5px;

    border-bottom: 2px solid #fff;
}

.header-container {
    background-color: #95AAAE;

    display: flex;
    justify-content: center;

    border-bottom: 2px solid black;
}

.header {
    height: 150px;
    width: 900px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    display: flex;
    justify-content: flex-start;
}

.side-bar-container {
    background-image: linear-gradient(#9EC1A3, #70A9A1);
    width: 200px;
    display: felx;
    flex-shrink: 0;
}

.side-bar {
    color: #244853;
    padding: 10px;
}

.site-links {
    margin-top: 15px;
}

.home-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.home-description {
    margin: 25px;
    font-size: 25px;
    font-weight: 550;
    display: flex;
    justify-content: center;
}

.photo-grid-container {
    display: flex;
    justify-content: center;
}

.photo-grid {
    margin-top: 30px;
    width: 900px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.grid-item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-item-title {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.photo-grid-item {
    border: 1px solid #fff;
    margin: 10px;
    width: 300px;
    height: 300px;
}

.recipe-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 1450px;
    padding: 25px;
}

.recipe {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left-container {
    display: flex;
    justify-content: center;
    flex: 1;
}

.right-container {
    display:l flex;
    justify-content: center;
    flex: 1;
}

.recipe-title {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.recipe-description {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    font-size: 17px;
    font-weight: 250;

    margin-bottom: 55px;
    margin-top: 45px;
}

.recipe-text-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.recipe-part {
    width: 150px;
    font-size: 30px;
    font-weight: 550;
    margin-bottom: 10px;
}

.recipe-step {
    width: 200px;
    font-size: 20px;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    margin-left: 15px;
}

.recipe-list {
    margin-bottom: 10px;
    margin-left: 35px;
}

.ingredients {
    margin-bottom: 20px
}

.directions {
    margin-bottom: 100px
}